.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  transition: background 0.1s ease-in-out;
  border: none;
  outline: none;
  padding: 8px 12px 8px 8px;
  border-radius: 0.75rem;
  width: 100%;
  gap: 4px;
  & .img {
    height: 100%;
  }
  & .text {
    color: var(--on-primary);
    font-weight: 600;
    font-size: 1.125rem;
  }
  &:hover {
    cursor: pointer;
    background: var(--primary-hover);
  }
  &:active {
    background: var(--primary-active);
  }
}
