.filter {
	display: flex;
	padding: 4px 12px;
	background: var(--surface-2);
	border-radius: 0.6rem;
	&__text {
		font-size: 0.875rem;
		line-height: 1.05rem;
		color: var(--on-surface-0);
		font-weight: 600;
	}
}
