@import url("https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap");

.timeline {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 2rem;
  &__posts {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 4rem;
    &__placeholder {
      width: 312px;
      height: 100%;
    }
    &__postWrapper {
      transform-origin: center bottom;

      &_periphery {
        scale: 0.8;
        opacity: 0.8;
      }
    }
  }
  &__realTimeline {
    display: flex;
    align-items: center;
    &__line {
      position: absolute;
      background: var(--primary);
      height: 4px;
      width: 100vw;
      width: 100dvw;
      left: 50%;
      transform: translateX(-50%);
      transition: all 0.4s ease;
      &_mostLeft {
        transform: translateX(0);
      }
      &_mostRight {
        transform: translateX(-100%);
      }
    }
    width: calc(312px + 8rem + 312px + 1rem);
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    &__point {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background: var(--primary);
      transition: all 0.2s ease;
      &:nth-child(3) {
        scale: 1.5;
      }
    }
  }
  &__buttons {
    display: flex;
    flex-flow: row;
    gap: 3rem;
    &__button {
      cursor: pointer;
      padding: 0.5rem 0.75rem;
      border-radius: 0.75rem;
      background: radial-gradient(circle at 50% 100%, #111111 0%, #313131 100%);
      border: none;
      filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.25)) brightness(1);
      transition: all 0.2s ease;
      &:hover {
        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.75)) brightness(1);
      }
      &:active {
        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0)) brightness(1.5);
      }

      &_notWorking {
        background: radial-gradient(
          circle at 50% 100%,
          #505050 0%,
          #313131 100%
        );
        filter: drop-shadow(0 0 1px rgba(255, 255, 255, 0.75)) brightness(1);
        & img {
          opacity: 0.3;
        }
      }
    }
  }
  &__date {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    &__triangle {
      transform: translateY(4px);
    }
    &__text {
      background: var(--primary);
      padding: 0.5rem 2rem;
      border-radius: 2rem;
      color: var(--surface-0);
      font-family: "Special Gothic Expanded One", "Inter", sans-serif;
      font-weight: bold;
      font-size: 1.5rem;
    }
  }
}

.flip {
  scale: -1;
}
