:root {
	--primary: #efbe1e;
	--primary-hover: #cfa51b;
	--primary-active: #ae8b16;
	--primary-variant: #826d26;
	--primary-variant-hover: #6d5c1f;
	--primary-variant-active: #5f511d;
	--surface-0: #1c1c1c;
	--surface-1: #282828;
	--surface-2: #414141;
	--surface-3: #575757;
	--on-surface-0: #ffffff;
	--on-surface-1: #a4a4a4;
	--on-primary: #1c1c1c;
	--none: ;
}
